/* Index 1 */

#logo {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 180px;
    height: 155px;
}

.header {
    text-align: center;
    font-size: x-large;
    height: 170px;
    padding: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main {
    display: block;
    margin: auto;
}

.boxvermelho {
    background-color: rgb(255, 80, 0);
    position: absolute;
    display: inline-block;
    height: 65%;
    width: 14%;
    margin-left: 25%;
}

#imagem1 {
    position: absolute;
    height: 30%;
    width: 20%;
    margin-left: 15%;
    margin-top: 5%;
}

.boxcinza {
    background-color: rgba(128, 128, 128, 0.5);
    position: absolute;
    display: inline-block;
    height: 50%;
    width: 30%;
    margin-left: 39%;
    margin-top: 3.5%;
}

#TituloBoxCinza {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20%;
    margin-bottom: 8%;
    font-size: 2.5em;
}

#ParagrafoBoxCinza {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 6%;
    font-size: 1.2em;
}

#BotaoBoxCinza {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 3%;
    padding-right: 3%;
    margin-left: 10%;
    margin-right: 15%;
    font-size: 1.5em;
    background-color: rgba(128, 128, 128, 0.2);
}

#BotaoAzul {
    position: fixed;
    background-color: blue;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    bottom: 20%;
    right: 32%;
    font-size: 2em;
    text-align: center;
}

#icon {
    width: 30px;
    height: 30px;
    color: white; 
}
  

.aba-posicao {
    position: fixed;
    bottom: 20%;
    right: 37%;
}
  
.aba {
    position: relative;
    display: inline-block;
}

.links {
    display: none;
    position: absolute;
    background-color: #adadad;
    min-width: 160px;
}

.links a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.links a:hover {
    background-color: #ffffff;
}

.aba:hover .links {
    display: block;
}

.aba:hover #BotaoAzul {
    background-color: #ffffff;
}
  

/* Index 2 */

#BotaoLaranja {
    background-color: orange;
    margin-left: 40%;
    padding-top: 0.7%;
    padding-bottom: 0.7%;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 1em;
    width: 20%;
}

#TituloDestaque {
    font-size: 6em;
    text-align: center;
    color: black;
    text-decoration: underline;
    font-family: fantasy;
}

#TextoDestaque {
    font-size: 2em;
    text-align: center;
    color: black;
    text-shadow: 20px;
    font-family: fantasy;
}

/* Index 3 */

#imagemExemplo {
    position: absolute;
    height: 40%;
    width: 40%;
    margin-left: 12%;
    margin-top: 7%;
}

.boxExemplo {
    display: inline-block;
    height: 50%;
    width: 30%;
    margin-left: 52%;
    margin-top: 4%;
}

#TituloBoxExemplo {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20%;
    margin-bottom: 8%;
    font-size: 3em;
}

#ParagrafoBoxExemplo {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 6%;
    font-size: 1.8em;
}

#Footer {
    background-color: rgba(0, 0, 0, 0.9);
    bottom: 0px;
    margin-top: 12%;
    height: 200px;
}

#TextoFooter {
    text-align: center;
    font-size: 1.5em;
    margin: auto;
    color: white;
    padding-top: 4%;
}